<meta charset="utf-8">

{% load static %}

<html>
    <head>

        <title>
            CSP 비밀번호 변경
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/mainhome-stly.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/backstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn_hover.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/star.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}">

        <div class="top_bar">
    <ul class = "menu">
        <li class="logo_li"><a href = "/main"><img src = "{% static 'img/mainlogo_.png' %}" alt = "main_logo" width = "50" class = "logo"></a></li>
    </ul><br></div>

    </head>

{% block content %}

    <body>

    <div class="password_change_page">
        <h1 class="deepshadow">Change Password</h1>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form method="post">
            {% csrf_token %}
            <label>기존 비밀번호</label>
            <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
            <label>새 비밀번호</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
            <label>새 비밀번호 확인</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
            <li>비밀번호는 최소 8자 이상이어야 합니다.</li>
            <li>숫자로만 이루어진 비밀번호는 사용할 수 없습니다.</li>
            <br>
            <button type="submit">Save changes</button>
        </form>
    </div>

    </body>

{% endblock %}

</html>