input[type = "radio"]{
    display: none;
}

.btn_size {
    padding: 18 100 18 100;
}

.btn_size_board {
    padding: 18 100 18 100;
}

.btn_ {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    display: flex;
    padding-top: 50px;
}

.board_btn {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    display: flex;
    padding-top: 50px;
    margin-bottom: 30px;
}

label[for*="tab"] {
    display: inline-block;
    background: #ccc;
    cursor: pointer;
}

input[id = "tab01"]:checked ~ .con1 {
    display:block;
}
input[id = "tab02"]:checked ~ .con2 {
    display:block;
}
input[id = "tab03"]:checked ~ .con3 {
    display:block;
}
input[id = "tab04"]:checked ~ .con4 {
    display:block;
}

input[id="tab01"]:checked ~ .btn > label[for="tab01"]{
    background: rgb(173, 204, 143);
}
input[id="tab02"]:checked ~ .btn > label[for="tab02"]{
    background: rgb(173, 204, 143);
}
input[id="tab03"]:checked ~ .btn > label[for="tab03"]{
    background: rgb(173, 204, 143);
}
input[id="tab04"]:checked ~ .btn > label[for="tab04"]{
    background: rgb(173, 204, 143);
}