<meta charset="utf-8">

{% load static %}

<html>
    <head>
        <title>
            CTF 일정
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/mainhome-stly.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/backstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn_hover.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/star.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">

    <div class="top_bar">
    <ul class = "menu">
        <li class="logo_li"><a href = "/main"><img src = "{% static 'img/mainlogo_.png' %}" alt = "main_logo" width = "50" class = "logo"></a></li>
        <div class="add_margin">
        <li><a href="/main/">Home</a></li>
        <li><a class="active" href="#">About</a></li>
        <li><a href="/ctfboard">CTF schedule</a></li>
        <li><a href="/hackboard">Hacking</a></li>
        <li><a href="/progboard">Programming</a></li>
        <li class="log">
            {% if user.is_authenticated %}
            <a href=".">{{ user.first_name }}님, 안녕하세요.</a>
        </li>
        <li class="inout">
            <a href="/sign_c/logout">Logout</a>
        </li>
        <li class="log">
            {% else %}
            <a href="/sign_c/login">Login</a>
        </li>
        <li class="inout">
            <a href="/sign_c/sign">Sign in</a>
            {% endif %}
        </li>
        </div>
    </ul><br></div>

    </head>

    <body>
        <div class="about_page">
            <h1>동아리 홍보 공간입니다. 원하는 이미지, 글을 보내주시면 반영하겠습니다.</h1>
            <h2>파일은 압축파일만 받겠습니다.</h2>
            <h3>zhzk1001@hanmail.net</h3>
        </div>
    </body>

</html>