<meta charset="utf-8">

{% load static %}

<html>
    <head>

        <title>
            CSP 동아리 메인
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/mainhome-stly.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/backstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn_hover.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/star.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sidemenu.css' %}">

    <input type="checkbox" id="top_icon">
        <label for="top_icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
    <div class="top_bar">
    <ul class = "menu">
        <li class="logo_li"><a href = "/main"><img src = "{% static 'img/mainlogo_.png' %}" alt = "main_logo" width = "50"></a></li>
        <div class="add_margin">
        <li><a class="active" href="/main/">Home</a></li>
        <li><a href="/aboutboard">About</a></li>
        <li><a href="/ctfboard">CTF schedule</a></li>
        <li><a href="/hackboard">Hacking</a></li>
        <li><a href="/progboard">Programming</a></li>
        <li class="log">
            {% if user.is_authenticated %}
            <a href="/sign_c/user">{{ user.first_name }}님, 안녕하세요.</a>
        </li>
        <li class="inout">
            <a href="/sign_c/logout">Logout</a>
        </li>
        <li class="log">
            {% else %}
            <a href="/sign_c/login">Login</a>
        </li>
        <li class="inout">
            <a href="/sign_c/sign">Sign in</a>
            {% endif %}
        </li>
        </div>
    </ul><br></div>

    </head>

    <body>

        <input type="checkbox" id="sidemenu_icon">
            <label for="sidemenu_icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
        <div class="sidebar">
            <ul>
                <li><a href="https://cyfo.gwangju.ac.kr" target="_blank">학과 홈페이지</a></li>
                <li><a href="https://sites.google.com/view/profwrjeon/" target="_blank">전웅렬교수님</a></li>
                <li><a href="http://prof.gwangju.ac.kr/index.php?gid=leeyh" target="_blank">이윤호교수님</a></li>
                <li><a href="http://prof.gwangju.ac.kr/index.php?gid=thlee" target="_blank">이태훈교수님</a></li>
                <li><a href="http://prof.gwangju.ac.kr/index.php?gid=hsyoon" target="_blank">윤홍상교수님</a></li>
                <li><a href="#">정동배교수님</a></li>
            </ul>
        </div>

       <div class="main_name">
           Welcome to the Circles
       </div>
        
       <div class="sub_title">
           Please select a crew below
       </div>

       <div>
            <input type = "radio" name = "tabmenu" id = "tab01">
            <input type = "radio" name = "tabmenu" id = "tab02">
            <div class = "btn_" style = "display: block; align-items: center;">
                {% if user.last_name == 'hack' %}
                <label class="button" for = "tab01"><a href="/hackboard/"><strong class="btn_size">&nbsp;&nbsp;&nbsp;&nbsp;Hacking&nbsp;&nbsp;&nbsp;</strong></a></label>
                {% elif user.last_name == 'prog' %}
                <label class="button" for = "tab02"><a href="/progboard/"><strong class="btn_size">Programming</strong></a></label>
                {% else %}
                <label class="button" for = "tab01"><a href="/hackboard/"><strong class="btn_size">&nbsp;&nbsp;&nbsp;&nbsp;Hacking&nbsp;&nbsp;&nbsp;</strong></a></label>
                <label class="button" for = "tab02"><a href="/progboard/"><strong class="btn_size">Programming</strong></a></label>
                {% endif %}
            </div>
       </div>

       <div class="star"><img src="{% static 'img/ufo_star.png' %}" width="100"></div>

    </body>
</html>
