<meta charset="utf-8">

{% load static %}

<html>
    <head>

        <title>
            해킹 동아리 글 삭제
        </title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn_hover_board.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/backstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hack_board_title.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">

    </head>

    <body>
        {% block main %}

        {% if user.last_name != 'hack' and user.last_name != 'admin' %}
        <script>
            window.location.replace('/main')
            alert('Nop! You are not hacking member!')
        </script>
        {% elif user.username != csp_hack_list.user_name %}
        <script>
            window.location.replace('/main')
            alert('권한이 없습니다.')
        </script>
        {% endif %}

        <section>
            <div class="delete_board">
                <form method="POST">
                    {%csrf_token%}

                    <p>'{{csp_hack_list.title}}'를 삭제하시겠습니까?</p>
                    <button type="submit" value="Confirm">Delete</button>
                </form>
            </div>
        </section>

        {% endblock main %}
    </body>
</html>