<meta charset="utf-8">

{% load static %}

<html>
    <head>

        <title>
            해킹 동아리 게시판 글
        </title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/btn_hover_board.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/backstyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hack_board_title.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/wrapper.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/notice.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">

    <input type="checkbox" id="top_icon">
        <label for="top_icon">
            <span></span>
            <span></span>
            <span></span>
        </label>
    <div class="top_bar">
    <ul class = "menu">
        <li class="logo_li"><a href = "/main"><img src = "{% static 'img/mainlogo_.png' %}" alt = "main_logo" width = "50" class = "logo"></a></li>
        <div class="add_margin">
        <li><a href="/main/">Home</a></li>
        <li><a href="/aboutboard">About</a></li>
        <li><a href="/ctfboard">CTF schedule</a></li>
        <li><a class="active" href="/hackboard">Hacking</a></li>
        <li><a href="/progboard">Programming</a></li>
        <li class="log">
            {% if user.is_authenticated %}
            <a href="/sign_c/user">{{ user.first_name }}님, 안녕하세요.</a>
        </li>
        <li class="inout">
            <a href="/sign_c/logout">Logout</a>
        </li>
        <li class="log">
            {% else %}
            <a href="/sign_c/login">Login</a>
        </li>
        <li class="inout">
            <a href="/sign_c/sign">Sign in</a>
            {% endif %}
        </li>
        </div>
    </ul><br></div>

    </head>
{% block main %}
    <body>

        {% if user.last_name != 'hack' and user.last_name != 'admin' %}
        <script>
            window.location.replace('/main')
            alert('Nop! You are not hacking member!')
        </script>
        {% endif %}

        <div class="board_margin">

            <section>
                <div class="grp-text">
                    <div class="back-g-i">
                    <h2 class="board-detail-title">
                        {{ csp_hack_list.title }}
                    </h2>
                    <h4 class="board-detail-user">작성자 : {{ csp_hack_list.user_id }}</h4>
                    <h4 class="board-detail-time">{{ csp_hack_list.end_date }}</h4><hr>
                    </div>
                    <div class="back-g-a">

                    <div class="detail-text-box"><p>{{ csp_hack_list.content | safe }}</p><br></div>
                        {% if csp_hack_list.user_name == user.username %}
                    <h2 class="detail-btn">
                        <a href="{% url 'csp_hack_board:csp_hack_update' pk=csp_hack_list.pk %}">
                        <img width="50px" src="{% static 'img/insert.png' %}">
                        </a>

                        <a href="{% url 'csp_hack_board:csp_hack_delete' pk=csp_hack_list.pk %}">
                            <img width="50px" src="{% static 'img/dee.png' %}">
                        </a>
                    </h2>
                        {% endif %}
                    </div>

                    <form method="POST" class="comment_input">
                    {% csrf_token %}
                        <input type="text" name="comment" maxlength="1000">
                        <input type="submit" value="Comment">

                    </form>
                    <hr>
                    <table>
                        {% for comment in comments %}
                        <tr>
                            <td class="comment_text">{{ comment.comment }}</td>
                            <td class="comment_name">{{ comment.user_name }}</td>
                            <td class="comment_date">{{ comment.insert_date }}</td>
                            {% if comment.user_id == user.username %}
                            <td class="comment_btn"><input type="submit" value="삭제" onclick="location.href = 'comment/delete/{{ comment.user_no }}'"></td>
                            <td class="comment_btn"><input type="submit" value="수정" onclick="window.open('/hackboard/comment/update/{{ comment.user_no }}','댓글 수정','width=320,height=230,location=no,status=no,scrollbars=yes');"></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <button type="submit" value="BACK" onclick = "location.href = '/hackboard'" style="width : 100%;">
                        BACK
                    </button>
                    <div class="back-g-b"></div>
                </div>
            </section>

        </div>

    </body>
{% endblock main %}
</html>